<!--

<div fxLayout="column" fxLayoutAlign="center" style="height: 100VH">
	<div *ngIf="model.user == null">
		<button (click)="login($event)" md-raised-button color="primary">Login</button>
	</div>
	<div *ngIf="model.user">
		<div> <img bind-src="model?.user?.photoURL"/> </div>
		<div> {{ model?.user?.displayName }} </div>
		<div> {{ model?.user?.email }} </div>
		<div> {{ model?.user?.uid}} </div>
	</div>
</div>

-->
<!--
<div fxLayout="row" fxLayoutAlign="center" fxFill style="height: 100VH;" >
	<md-expansion-panel hideToggle="true" fxFlex="40">
		<md-expansion-panel-header>
			<md-panel-description>
				<div enabled="false" *ngIf="!isLoggingIn && !isSigningUp" fxFlexAlign="center" fxFlexFill>
					<button md-raised-button color="primary">Login</button>
					<button (click)="signup($event)" md-raised-button color="primary">Sign Up</button>
				</div>
				<div [hidden]="!isSigningUp" fxFlexAlign="center" fxFlexFill>Sign Up</div>
			</md-panel-description>
		</md-expansion-panel-header>
		<form style="background-color: blue">
				<div>
						<md-form-field>
							<input ngmodel="email" mdInput placeholder="Email" type="email" id="contactemail" email>
						</md-form-field>
						<md-form-field>
							<input mdInput placeholder="Password" type="password" required>
						</md-form-field>
				</div>
				<div style="background-color: red">
					<button enabled="" md-raised-button color="primary" fxFlexAlign="right">Create Account</button>
				</div>
		</form>
	</md-expansion-panel>
</div>
-->
<div [collapse]="loginMode" fxLayoutAlign="center center" style="height: 100VH;">
   <button (click)="step = 0; loginMode = !loginMode;" enabled="" md-raised-button color="primary">Create Account</button>
   <!--<button  enabled="" md-raised-button color="primary">Create Account</button>-->
</div>
<div fxLayout="row" fxLayoutAlign="center center" style="height: 100VH;" *ngIf="loginMode">
   <div [collapse]="!loginMode" fxFlex="90" fxFlex.gt-xs="55">
      <md-accordion class="example-headers-align">
         <md-expansion-panel [expanded]="step === 0" hideToggle="true" fxLayoutGap="20px" fxLayout="column">
            <md-expansion-panel-header>
               <md-panel-title>
                  Register
               </md-panel-title>
            </md-expansion-panel-header>
            <div fxLayout="column" fxLayout="column">
               <md-progress-bar mode="indeterminate" *ngIf="isRegistering"></md-progress-bar>
               <md-error *ngIf="registrationError">{{registrationError}}</md-error>
               <br>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" [collapse]="!isLoggedIn" fxLayoutGap="20px">
               <md-icon mdSuffix>check</md-icon>
               <div>Welcome {{authModel?.currentUser?.email}}, you've successfully registered</div>
               <button md-raised-button color="primary" (click)="step=2">Continue</button>
            </div>
            <form fxFlexFill *ngIf="!isLoggedIn" fxLayout="column" [hidden]="isSigningUp" fxLayoutAlign="center center" >
               <md-form-field fxFlexFill>
                  <input mdInput placeholder="Email" type="email" required="true" [formControl]="emailFormControl" [(ngModel)]="authModel.signupEmail">
                  <md-error *ngIf="emailFormControl.hasError('required')">
                     Email is <strong>required</strong>
                  </md-error>
                  <md-error *ngIf="emailFormControl.hasError('email') && ! emailFormControl.hasError('required')" >
                     Please enter a valid email address
                  </md-error>
                  <md-icon mdSuffix>email</md-icon>
               </md-form-field>

               <md-form-field fxFlexFill  [collapse]="!authModel.signupEmail || emailFormControl.hasError('email')">
                  <input mdInput type="password" min="6" placeholder="Password" required="true" [formControl]="passwordFormControl" [(ngModel)]="authModel.signupPassword">
                  <md-error *ngIf="authModel.signupPassword?.length < 6">
                     Must have at 6 least characters
                  </md-error>
                  <md-icon mdSuffix>lock</md-icon>
               </md-form-field>

               <md-form-field fxFlexFill  [collapse]="!authModel.signupPassword || authModel.signupPassword?.length < 6">
                  <input mdInput type="password" min="6" placeholder="Verify Password" required="true" [formControl]="passwordVerificationFormControl" [(ngModel)]="authModel.signupPasswordVerification">
                  <md-error *ngIf="authModel.signupPassword != authModel.signupPasswordVerification">
                     Passwords must match
                  </md-error>
                  <md-icon mdSuffix>lock</md-icon>
               </md-form-field>

               <div fxFlexFill  [collapse]="emailFormControl.hasError('email') || emailFormControl.hasError('required') || passwordVerificationFormControl.hasError('min') ||! authModel.signupPassword || ! authModel.signupPasswordVerification || (authModel.signupPassword != authModel.signupPasswordVerification)">
                  <md-action-row>
                     <button [disabled]="isRegistering" (click)="register()" md-button color="primary" (click)="nextStep()">Register</button>
                  </md-action-row>
               </div>
            </form>

         </md-expansion-panel>

         <md-expansion-panel [collapse]="!isLoggedIn" [expanded]="step === 2"  hideToggle="true">
            <md-expansion-panel-header>
               <md-panel-title>
                  More Info
               </md-panel-title>
            </md-expansion-panel-header>
            <app-profile-editor></app-profile-editor>
         </md-expansion-panel>

         <md-expansion-panel [collapse]="!isLoggedIn" [expanded]="step === 3"  hideToggle="true">
            <md-expansion-panel-header>
               <md-panel-title>
                  Start Tucking
               </md-panel-title>
            </md-expansion-panel-header>
            Start to create your first tuck here
         </md-expansion-panel>
      </md-accordion>
   </div>
</div>
